<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  {% load static %}
  <link href=" {% static 'assets/img/favicon.png' %}" rel="icon">
  <link href=" {% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#hero" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <h1>Cricket World Cup</h1>
      </a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a href="#events">History</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Best Performances</a></li>
          <li class="dropdown"><a href="#"><span>Winning Team and Finals</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>West Indies</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="final1">1975 Final</a></li>
                  <li><a href="final2">1979 Final</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>India</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="final3">1983 Final</a></li>
                  <li><a href="final10">2011 Final</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Australia</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="final4">1987 Final</a></li>
                  <li><a href="final7">1999 Final</a></li>
                  <li><a href="final8">2003 Final</a></li>
                  <li><a href="final9">2007 Final</a></li>
                  <li><a href="final11">2015 Final</a></li>
                </ul>
              </li>
              <li><a href="final5">Pakistan</a></li>
              <li><a href="final6">Srilanka</a></li>
              <li><a href="final12">England</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="get-a-quote" href="/booking">Book Ticket</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-12 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">1975-2019</h2>
          <p data-aos="fade-up" data-aos-delay="100">The Cricket World Cup, the top-level and the most important
            competition in One Day International cricket, was first played in 1975. This tournament, known as The
            Prudential World Cup, was played in England and was won by the West Indies. Since then, the tournament has
            been played every four years, in a number of different countries. Between eight and sixteen teams have
            contested the various competitions, and lengths of matches have ranged from 60 overs per side in the early
            tournaments down to 50 overs per side in recent ones.</p>
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>West Indies</p>
              </div>
            </div><!-- End Stats Item -->
            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>India</p>
              </div>
            </div><!-- End Stats Item -->
            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Australia</p>
              </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Pakistan</p>
              </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Srilanka</p>
              </div>
            </div>
            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>England</p>
              </div>
            </div><!-- End Stats Item -->
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
  <main id="main">
    <!-- ======= History Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div>
              <h4 class="title">Prudential World Cups (1975–1983)</h4>
              <p class="description">The inaugural Cricket World Cup was hosted in 1975 by England, the only nation able
                to put forward the resources to stage an event of such magnitude at the time. The 1975 tournament
                started on 7 June.[14] The first three events were held in England and officially known as the
                Prudential Cup after the sponsors Prudential plc. The matches consisted of 60 six-ball overs per team,
                played during the daytime in traditional form, with the players wearing cricket whites and using red
                cricket balls</p>
            </div>
          </div>
          <!-- End History Item -->
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div>
              <h4 class="title">Different champions (1987–1996)</h4>
              <p class="description">India and Pakistan jointly hosted the 1987 tournament, the first time that the
                competition was held outside England. The games were reduced from 60 to 50 overs per innings, the
                current standard, because of the shorter daylight hours in the Indian subcontinent compared with
                England's summer.Australia won the championship by defeating England by 7 runs in the final, the closest
                margin in the World Cup final until the 2019 edition between England and New Zealand.</p>
            </div>
          </div><!-- End History Item -->
          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div>
              <h4 class="title">Australian treble (1999–2007)</h4>
              <p class="description">In 1999 the event was hosted by England, with some matches also being held in
                Scotland, Ireland, Wales and the Netherlands.Twelve teams contested the World Cup. Australia qualified
                for the semi-finals after reaching their target in their Super 6 match against South Africa off the
                final over of the match.They then proceeded to the final with a tied match in the semi-final also
                against South Africa where a mix-up between South African batsmen Lance Klusener and Allan Donald saw
                Donald drop his bat and stranded mid-pitch to be run out. In the final, Australia dismissed Pakistan for
                132 and then reached the target in less than 20 overs and with eight wickets in hand.</p>
            </div>
          </div><!-- End History Item -->
        </div>
      </div>
    </section><!-- End History Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <span>Finals</span>
          <h2>Finals</h2>
        </div>
        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-first order-first">
            <img src="{% static 'assets/img/2019.jpg' %}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Kwu1yIC-ssg" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 position-relative align-self-start order-lg-first order-first">
            <img src="{% static 'assets/img/2011.jpg' %}" class="img-fluid" alt="">
            <a href="https://youtu.be/mEOBGY4-7JA" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-12 content order-last  order-lg-first">
            <h3>Tournament</h3>
            <p>
              Twenty nations have qualified for the Cricket World Cup at least once. Seven teams have competed in every
              tournament, six of which have won the title.The West Indies won the first two tournaments, Australia has
              won five, India has won two, while Pakistan, Sri Lanka and England have each won once. The West Indies
              (1975 and 1979) and Australia (1987, 1999, 2003, 2007 and 2015) are the only teams to have won consecutive
              titles.Australia has played in seven of the twelve finals (1975, 1987, 1996, 1999, 2003, 2007 and 2015).
              New Zealand has yet to win the World Cup, but has been runners-up two times (2015 and 2019). The best
              result by a non-Test playing nation is the semi-final appearance by Kenya in the 2003 tournament; while
              the best result by a non-Test playing team on their debut is the Super 8 (second round) by Ireland in
              2007.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <div>
                  <h5>Man of the Tournament</h5>
                  <p>Since 1992, one player has been declared as the "Man of the Tournament" at the end of the World Cup
                    finals</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <div>
                  <h5>Man of the Match in the Final</h5>
                  <p>There were no Man of the Tournament awards before 1992 but Man of the Match awards have always been
                    given for individual matches. As of the 2019 tournament, the award has always made to a member of
                    the winning side. The Man of the Match of the finals of the competition have been:</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <div>
                  <h5>Golden Bat</h5>
                  <p>The Golden Bat Award goes to the top run scorer of the ICC World Cup. While every World Cup had a
                    ranking of the run scorers, the first time an award was given was in 1975.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div id="events" class="container" data-aos="fade-up">
        <div class="section-header">
          <span>Events</span>
          <h2>Events</h2>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/storage-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a class="stretched-link">Aravinda De Silva</a></h3>
              <p>De Silva was instrumental in Sri Lanka's triumph in the 1996 Cricket World Cup where his unbeaten
                century and three wickets earned him the Man of the Match award in the final against Australia.</p>
            </div>
          </div><!-- End Card Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/logistics-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a class="stretched-link">Kapil Dev</a></h3>
              <p>Dev captained the Indian cricket team that won the 1983 Cricket World Cup,and in the process became the
                first Indian captain to win the Cricket World Cup, and is still the youngest captain (at the age of 24)
                to win the World Cup for any team.</p>
            </div>
          </div><!-- End Card Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/cargo-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a class="stretched-link">Tournament Summary</a></h3>
              <p>The West Indies won the first two tournaments, Australia has won five, India has won two, while
                Pakistan, Sri Lanka and England have each won once. The West Indies (1975 and 1979) and Australia (1987,
                1999, 2003, 2007 and 2015) are the only teams to have won consecutive titles.</p>
            </div>
          </div><!-- End Card Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/trucking-service.jpg'  %}" alt="" class="img-fluid">
              </div>
              <h3><a class="stretched-link">Australian treble </a></h3>
              <p> Glenn McGrath, Adam Gilchrist and Ricky Ponting played in all three World Cup finals in those years,
                with Gilchrist and Ponting both claiming Man-of-the-Match awards in the 2007 and 2003 finals
                respectively and McGrath claiming the Man-of-the-Tournament award in 2007.</p>
            </div>
          </div><!-- End Card Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/packaging-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a class="stretched-link">Australian World Cup Winning Captains</a></h3>
              <p>The Australian cricket team is the most successful team in the Cricket World Cup winning the 1987,
                1999, 2003, 2007 and 2015 editions. This also makes them the only team to have won the world cup in all
                the regions (group of countries) that have hosted the world cup till now</p>
            </div>
          </div><!-- End Card Item -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <div class="card-img">
                <img src="{% static 'assets/img/warehousing-service.jpg' %}" alt="" class="img-fluid">
              </div>
              <h3><a class="stretched-link">The '99 turnaround</a></h3>
              <p> It was following Australia's 10-run loss to Pakistan less than a month earlier – their second defeat
                from three starts in a faltering 1999 World Cup campaign – that Steve Waugh proclaimed matter-of-factly
                his team simply had to win its next seven matches to secure the title.</p>
            </div>
          </div><!-- End Card Item -->
        </div>
      </div>
    </section><!-- End Services Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h3>Attendance</h3>
            <p>The 2003 Cricket World Cup matches were attended by 626,845 people, while the 2007 Cricket World Cup sold
              more than 672,000 tickets. A total attendance of 752,000 spectators was reported for the 2019 tournament.
            </p>
            <!--<a class="cta-btn" href="#">Call To Action</a>-->
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'assets/img/features-1.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>Reliance World Cup, 1987</h3>
            <p class="fst-italic">
              The competition was won, for the first time, by Australia who defeated their arch-rivals England by seven
              runs in the second-most closely fought World Cup final to date in Kolkata's Eden Gardens stadium.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> The two host nations, India and Pakistan failed to reach the final, after
                both being eliminated in the semi-finals. </li>
              <li><i class="bi bi-check"></i> The West Indies failed to live up to expectations and did not advance from
                the group stage.</li>
              <li><i class="bi bi-check"></i> England were almost on target, when captain Mike Gatting (41 from 45
                balls, 3 fours, 1 six) handed back the initiative with the loss of his wicket to an attempted reverse
                sweep off the occasional off-spin bowling of Allan Border, which ended a growing partnership of 69 runs
                in 13 overs between him and Athey. Allan Lamb (45 from 55 balls, 4 fours) also posted a great innings,
                but it was in vain as the required run-rate for England began to rise. When England failed to score the
                last 17 runs from the final over, the cup went to Australia.</li>
            </ul>
          </div>
        </div><!-- Features Item -->
        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/features-2.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>1999 Cricket World Cup</h3>
            <p class="fst-italic">
              Australia won their second title by defeating Pakistan by 8 wickets in the final.
            </p>
            <p>
              Pakistan won the toss and elected to bat. In a fine bowling display, Australia bundled out Pakistan for a
              score of 132. Pakistan failed to build any substantial partnerships. The pick of the bowlers was Shane
              Warne who took 4 wickets for 33 runs from nine overs. In reply, Adam Gilchrist attacked immediately,
              making a quick 50. Australia won the match after 20.1 overs, losing just two wickets. Warne won the man of
              the match award and Australia lifted the World Cup.
            </p>
          </div>
        </div><!-- Features Item -->
        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'assets/img/features-3.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>2003 Cricket World Cup</h3>
            <p>It was the first time these two teams had met at this stage of a World Cup. For defending champions
              Australia it was their fifth World Cup final, while for India it was the second after their 1983 victory.
              Australia won the match by 125 runs to claim the title for the third time.</p>
            <ul>
              <li><i class="bi bi-check"></i> Australia became the first team to win three World Cups, and registered a
                record 17 consecutive ODI wins</li>
              <li><i class="bi bi-check"></i> They also became the third team to win all the matches in a World Cup
                tournament.</li>
              <li><i class="bi bi-check"></i> Australia were rewarded with prize money totaling US$2,000,000, while
                India received $800,000.</li>
            </ul>
          </div>
        </div><!-- Features Item -->
        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/features-4.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>2015 Cricket World Cup</h3>
            <p class="fst-italic">
              The 2015 ICC Cricket World Cup was a One Day International cricket tournament to decide the 11th Cricket
              World Cup. It was jointly hosted by Australia and New Zealand from 14 February to 29 March 2015, and was
              won by Australia.
            </p>
            <p>
              The final of the 2015 Cricket World Cup took place on 29 March 2015 at the Melbourne Cricket Ground in
              Melbourne, Australia. It was played between the tournament's two co-hosts, New Zealand and Australia.
              Australia went into the game as favourites[1][2] and won by 7 wickets for a fifth World Cup triumph. The
              match was played in front of 93,013 spectators, a record crowd for a day of cricket in Australia
            </p>
          </div>
        </div><!-- Features Item -->
      </div>
    </section><!-- End Features Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing pt-0">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <span>Best Performances</span>
          <h2>Best Performances</h2>
        </div>
        <div class="row gy-4">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Clive Lyod</h3>
              <!--<h4><sup>$</sup>0<span> / month</span></h4>-->
              <ul>
                <li><i class="bi bi-check"></i> In the 1975 Cricket World Cup Final against Australia, the West Indies
                  were deep in trouble at 3/50 when Lloyd strode to the crease. He duly made 102 from 85 balls, the only
                  limited overs international century of his career. With Rohan Kanhai he added 149 for the West Indies
                  to win by 17 runs.</li>
                <li><i class="bi bi-check"></i> Lloyd captained the West Indies in three World Cups, winning in 1975
                  (with Lloyd scoring a century) and 1979 while losing the 1983 final to India.</li>
                <li><i class="bi bi-check"></i> In the 1975 World Cup Final The West Indies won the match by 17 runs to
                  claim their first title.</li>
              </ul>
            </div>
          </div><!-- End Pricing Item -->
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
              <h3>Viv Richards</h3>
              <ul>
                <li><i class="bi bi-check"></i>In 1975 Richards helped the West Indies to win the inaugural Cricket
                  World Cup final, a feat he later described as the most memorable of his career.[30] He starred in the
                  field, running out Alan Turner, Ian Chappell and Greg Chappell.</li>
                <li><i class="bi bi-check"></i>The West Indies were again able to win the following World Cup in 1979,
                  thanks to a Richards century in the final at Lord's, and Richards believes that on both occasions,
                  despite internal island divisions, the Caribbean came together.</li>
                <li><i class="bi bi-check"></i>Sir Viv Richards hit one of the most memorable innings ever seen at
                  Lord's, when he scored an unbeaten 138 during West Indies victory over England in the 1979 Cricket
                  World Cup final.</li>
              </ul>
            </div>
          </div><!-- End Pricing Item -->
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="pricing-item">
              <h3>Aravinda De Silva</h3>
              <ul>
                <li><i class="bi bi-check"></i> Coming in at number four, de Silva lead the Sri Lankan recovery hitting
                  66 runs from 47 balls as Sri Lanka set a target of 252 runs for India to chase. His 66 runs does not
                  really stand out in statistics tables, however is regarded as one of his finest innings.</li>
                <li><i class="bi bi-check"></i> The highlight of his career was almost certainly the 1996 World Cup
                  Final against Australia, where he took 3 wickets for 42 runs (including the Australian captain Mark
                  Taylor and the future captain Ricky Ponting), two catches and then followed that with 107 not out with
                  the bat to secure Sri Lanka a convincing 7 wicket victory, thereby clinching the World Cup, and also
                  the Man of the Match award</li>
              </ul>
            </div>
          </div><!-- End Pricing Item -->
        </div>
      </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">
        <div class="slides-1 swiper" data-aos="fade-up">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Clive Llyod</h3>
                <h4>Former West Indies captain</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Today is a memorable day for me and the members of the team which won that first World Cup back in
                  1975. It was one of the greatest days of my life. To see the way we performed – we played unbeaten
                  throughout the entire tournament – and win at Lords was something remarkable. Our victories in those
                  two World Cup finals were celebration of West Indies cricket and the many people who turned up to see
                  us lift the cup.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Kapil Dev</h3>
                <h4>Former Indian Captain</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Everyone started saying that the West Indies were going to win it once again, for the third time. But
                  I think we had something that no one knew about. There was something up our sleeve — it was the
                  self-confidence and the self-belief.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Imran Khan</h3>
                <h4>Former Pakistan Captain</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  I would just like to say, I want to give my commiserations to the England team, but I want them to
                  know that by winning this World Cup, personally, it means that one of my greatest obsessions in life,
                  which is to build a cancer hospital, I'm sure that this World Cup will go a long way towards the
                  completion of this obsession." Umm... cool. That's brilliant news.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Allan Border</h3>
                <h4>Former Australia Captain</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  We were unfancied back in those days. I knew the group we had would give it a red-hot go, but I
                  suppose it was beyond our wildest dreams to actually win the thing.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>Arjuna Ranatunga</h3>
                <h4>Former Srilankan Captain</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  I think it is not about risk but also about creating new environment. When we went to Australia in
                  1996 we knew we have Sanath (Jayasuriya) and (Romesh) Kaluwithrana as best openers. We didn’t have a
                  strong bowling attack. It took us one and half years for us to plan. We didn’t have today’s technology
                  for our use but we found out way out.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <span>ICC Cricket World Cup Questions</span>
          <h2>ICC Cricket World Cup Questions</h2>
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">
            <div class="accordion accordion-flush" id="faqlist">
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    When was first ICC cricket World Cup started?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The very first ICC cricket World Cup was played in England in 1975. West Indies won the both initial
                    ICC World Cups held in 1975 and 1979. India has won this tournament by defeating West Indies in the
                    final in 1983.
                  </div>
                </div>
              </div><!-- # Faq item-->
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    Which country has hosted the ICC World Cup most times?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    England has hosted the ICC World Cup 5 times. India has hosted in 3 times in collaboration with
                    other countries. But India will host this mega event alone in 2023.
                  </div>
                </div>
              </div><!-- # Faq item-->
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    Which cricket team has won most ICC Cricket World Cup titles?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    There are 12 World Cup tournaments being held till date. Australia is the most successful country
                    which has won 5 World Cup titles. India & West Indies are the only two countries which have won
                    2World Cup titles.
                  </div>
                </div>
              </div><!-- # Faq item-->
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    Which Indian cricketer had won the “Man of the Match” award in the final of the ICC World Cup 1983?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Mohinder Amarnath was declared “Man of the Match” award in the final of the ICC World Cup 1983. He
                    took 3 wickets after spending 12 runs and made 26 runs.
                  </div>
                </div>
              </div><!-- # Faq item-->
              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    Who has scored the maximum runs in World Cup Cricket?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Sachin Tendulkar, is the leading run-scorer in World Cup history.
                  </div>
                </div>
              </div><!-- # Faq item-->
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Frequently Asked Questions Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="#" class="logo d-flex align-items-center">
            <span>ICC Cricket World Cup</span>
          </a>
          <p>The ICC Cricket World Cup is the flagship event of the international cricket calendar and takes place every
            four years, with matches contested in a 50-over format.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About </a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <!--<li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>-->
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            2,Singanallur <br>
            Coimbatore,641005<br>
            India <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src=" {% static 'assets/js/main.js' %}"></script>
</body>
</html>